* {
    margin: 0;
    padding: 0;
    outline-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.top-line {
    text-align: center;
    padding: 12px 0;
    border-top: 1px solid #e4e4e5;
    border-bottom: 1px solid #e4e4e5;
    margin: 25px 0
}

.top-line a {
    display: none
}

.top-line a img {
    display: block;
    margin: 0 auto
}

.wrapper {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto
}

header .logo {
    text-align: center;
    position: relative;
    margin-bottom: 20px
}

header .logo img {
    width: 380px;
    max-width: 100%
}

header .logo span {
    display: block;
    font-size: 11px;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    margin-top: -20px;
    margin-left: 80px;
    letter-spacing: .2px
}

header .logo .btn {
    position: absolute;
    right: 0;
    top: 0;
    background: #ffc505;
    border: 3px solid #ffc505;
    padding: 7px 10px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #000
}

header .logo .btn:hover {
    background: #FFF
}

header ul {
    font-size: 0;
    text-align: center;
    border-bottom: 1px solid #e4e4e5;
    margin-bottom: 40px
}

header ul li {
    display: inline-block;
    vertical-align: middle
}

header ul li a {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    display: block;
    border-bottom: 3px solid transparent;
    padding: 12px 15px 24px
}

header ul li a:hover {
    color: #FFC505;
    border-bottom: 3px solid #000
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 16px
}

.wrapper .main {
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #bfbfbf;
    padding-right: 14px;
    width: 734px;
    margin-bottom: 30px
}

.wrapper .main h1 {
    font-size: 30px
}

.wrapper .main a {
    color: #00f;
    text-decoration: underline
}

.wrapper .main .btn {
    display: block;
    margin: 20px auto;
    padding: 15px 0;
    font-size: 20px;
    text-decoration: none;
    background-color: #de0606;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 350px;
    max-width: 100%
}

.wrapper .main .breadcrumbs {
    font-size: 14px;
    color: #000;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700
}

.wrapper .main .breadcrumbs a {
    text-decoration: none;
    color: #000
}

.wrapper .main .breadcrumbs a:hover {
    text-decoration: underline
}

.wrapper .main .breadcrumbs span {
    color: #A4A4A4
}

.wrapper .main .social {
    font-size: 0;
    display: block;
    margin-bottom: 30px
}

.wrapper .main .social li {
    display: inline-block;
    vertical-align: middle
}

.wrapper .main .social li a {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    line-height: 32px;
    text-decoration: none
}

.wrapper .main .social li a:hover {
    opacity: .7
}

.wrapper .main .social li:nth-of-type(1) a {
    background: #E9E9E9;
    color: #545454
}

.wrapper .main .social li:nth-of-type(2) a {
    background: #3B5998;
    color: #FFF
}

.wrapper .main .social li:nth-of-type(3) a {
    background: #00acee;
    color: #FFF
}

.wrapper .main .social li:nth-of-type(4) a {
    background: #ca1f27;
    color: #FFF
}

.wrapper .main .social li:nth-of-type(5) a {
    background: #cee3f8;
    color: #555
}

.wrapper .main h4 {
    color: #8b8589;
    line-height: 1.4em;
    font-family: Georgia, serif;
    font-size: 22px
}

.wrapper .main .first-screen {
    width: auto
}

.wrapper .main img {
    display: block;
    margin: 0 auto 24px;
    max-width: 100%;
    width: 100%
}

.wrapper .main p {
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 26px
}

.wrapper .main h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5
}

.wrapper .main .comments .title {
    color: #5C5C5C;
    font-size: 24px;
    margin-bottom: 40px
}

.wrapper .main .comments ul {
    list-style: none
}

.wrapper .main .comments ul li {
    margin-bottom: 25px
}

.wrapper .main .comments ul li .avatar {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    margin-right: 10px
}

.wrapper .main .comments ul li .comment__post {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 65px)
}

.wrapper .main .comments ul li:last-child .comment__post {
    display: block;
}

.wrapper .main .comments ul li .comment__post .user_name {
    color: #5C5C5C;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px
}

.wrapper .main .comments ul li .comment__post .user_name span {
    font-size: 12px;
    font-weight: 400
}

.wrapper .main .comments ul li .comment__post .comment__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.4
}

.wrapper aside {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 740px);
    text-align: center;
    padding: 0 20px
}

.wrapper aside img {
    width: 70%;
    display: block;
}

.wrapper .asideimg {
    position: relative;
    background-color: #c29a28;
}

.text1 {
    position: absolute;
    right: 2%;
    top: 21%;
    width: 54%;
    padding: 0 10px;
    color: #f6faeb;
    font-weight: 600;
    font-size: 20px;
}

.text2 {
    position: absolute;
    right: 2%;
    top: 62%;
    padding: 3px 10px;
    color: #f6faeb;
    font-size: 20px;
    cursor: pointer;
    background: #da2c27;
    text-decoration: none;
    width: 54%;
}

.form_wrap {
    margin: 30px 0;
    padding: 30px;
    border: 1px solid #dfe2e5;
}

.form_title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

.form_title span {
    color: #0078e0;
}

.inp {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 0 20px;

    font-weight: bold;
    font-size: 14px;

    border: 1px solid #dfe2e5;

    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.form-inner::after {
    display: table;
    content: "";
    clear: both;
}

.form_img-wrap {
    position: relative;
    width: 48%;
    float: left;
}

.form_img-wrap img {
    display: block;
    width: 90%;
    box-sizing: border-box;
}

.form_inp-wrap {
    width: 41%;
    float: right;
}

.old_price {
    font-size: 14px;
    text-align: center;
    text-decoration: line-through;
}

.new_price {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

form .btn {
    width: 100%;
    margin: 0 auto;
    padding: 18px 10px;
    border: none;
    outline: none;
}

.btn_sub {
    display: block;
    width: 60%;
    margin: 10px auto;
    padding: 15px 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background: #e08e00;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.wrapper aside .search {
    width: 100%;
    margin-bottom: 40px;
    position: relative
}

.wrapper aside .search input {
    width: 100%;
    padding: 10px
}

.wrapper aside .search a {
    font-size: 20px;
    width: 40px;
    height: 39px;
    position: absolute;
    background: #bfbfbf;
    right: 0;
    top: 0;
    color: #fff;
    line-height: 39px;
    text-decoration: none
}

.wrapper aside .search a:hover {
    background: #C90300
}

footer {
    border-top: 1px solid #000;
    padding: 16px 0
}

footer ul {
    font-size: 0;
    text-align: center;
    margin-bottom: 30px
}

footer ul li {
    display: inline-block;
    vertical-align: middle
}

footer ul li a {
    color: #000;
    font-size: 14px;
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 24px;
    text-decoration: none
}

footer ul li a:hover {
    color: #FFC505
}

footer .social {
    display: block
}

footer .social li a {
    display: block;
    margin: 0 10px;
    color: #000;
    border: 2px solid #000;
    width: 30px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    line-height: 26px;
    padding: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

footer .social li a:hover {
    background: #000;
    color: #FFF
}

.order-count {
    display: none;
    background: #f1f708;
    border: 2px solid red;
    position: fixed;
    bottom: 55px;
    right: 0;
    border-radius: 10px 0 0 10px;
    padding: 5px;
    font-family: montserrat, sans-serif;
    font-size: 12px;
    cursor: pointer
}

.order-count img {
    display: inline-block;
    vertical-align: middle;
    width: 43px
}

.order-count div {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
    color: red
}

.ac_footer {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 50px 0;
  color: #A12000;
}

.ac_footer a {
  color: #A12000;
}

.ac_footer p {
  text-align: center;
}

img[height="1"],
img[width="1"] {
  display: none !important;
}

@media all and (max-width: 1250px) {
    .wrapper .main {
        padding-left: 10px
    }

    footer ul li a {
        padding: 12px
    }

    .text1, .text2 {
        font-size: 12px;
    }
}

@media all and (max-width: 990px) {
    .wrapper aside, footer ul, header .logo, header ul {
        display: none
    }

    .top-line a {
        display: block
    }

    .wrapper .main {
        width: 100%;
        padding: 0 10px;
        border-right: none
    }

    footer .social {
        margin: 0
    }
}

@media all and (max-width: 600px) {
    .form_img-wrap, .form_inp-wrap {
        float: none;
        width: 85%;
        margin: 0 auto 25px;
    }
}

/*fontello.css*/
@font-face {
    font-family: 'fontello';
    src: url("../fonts/fontello.eot");
    src: url("../fonts/fontello.eot#iefix") format('embedded-opentype'),
        url("../fonts/fontello.woff2") format('woff2'),
        url("../fonts/fontello.woff") format('woff'),
        url("../fonts/fontello.ttf") format('truetype'),
        url("../img/fontello.svg#fontello") format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('//dadbab.info/content/kivXyBYhteYdev2/font/fontello.svg?26951221#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    margin-left: 2px;
}

.icon-reddit:before {
    content: '\e800';
}

/* '' */
.icon-search-1:before {
    content: '\e801';
}

/* '' */
.icon-mail:before {
    content: '\e804';
}

/* '' */
.icon-facebook:before {
    content: '\e805';
}

/* '' */
.icon-twitter:before {
    content: '\f099';
}

/* '' */
.icon-youtube-play:before {
    content: '\f16a';
}

/* '' */
.icon-instagram:before {
    content: '\f16d';
}

/* '' */
.icon-pinterest:before {
    content: '\f231';
}

/* '' */

/*spin.css*/
.spin-wrapper {
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
    border: 3px solid red;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;

    margin-bottom: 20px;
}

.wheel {
    width: 380px !important;
    margin: 0 auto;
    position: relative;
}

.content .wheel img {
    max-width: 100%;
}

.wheel-cursor {
    position: absolute;
    top: 48.5%;
    left: 50%;
    width: 25%!important;
    height: 35%;
    background: url("../img/center_button.png") no-repeat center top;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.cursor-text {
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 45% !important;
    height: 45%;
    line-height: 61px;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ccc;
    top: 49%;
    left: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
    box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
    background: rgb(255, 255, 255);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(234, 234, 234, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
    font-size: 15px;
}

.cursor-text:active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

.order_block {
    display: none;
}

.wrapper .main .product img {
    width: 220px;
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

form {
    display: block !important;
    margin: 0 auto !important;
    text-align: center !important;
}

.timer {
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0;
    text-align: center;
}

#clock {
    font-size: 30px;
    margin-top: 20px;
}

#clock span {
    color: #f00;
    font-weight: bold;

}

label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

.form_group {
    padding: 10px;
    display: block;
    margin: 10px auto;
    border: 2px solid grey;
    border-radius: 5px;
    width: 460px;
    max-width: 100%;
}

.form_btn {
    display: block;
    margin: 20px auto;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    background-color: #de0606;
    text-align: center;
    color: #fff !important;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.form_btn:hover {
    opacity: 0.8;
}

.order_block h2 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.red {
    color: #f00;
}

.wheel-img {
    -webkit-transition: 4s;
    -o-transition: 4s;
    transition: 4s;
}

.close-popup {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../svg/cross.svg")
        /*tpa=http://th8.theerofertil.com/landWheelFiles/cross.svg*/
    ;
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: -40px;
    cursor: pointer;
}

.cursor-text:active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

.spin-result-wrapper {
    display: none;
    padding: 0 10px;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
}

.pop-up-layer {
    position: fixed !important;
    top: 0px !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    z-index: 99 !important;
}

.pop-up-layer-show {
    display: block;
}

.pop-up-window {
    position: relative;
    max-width: 400px;
    right: 0px;
    left: 0px;
    top: 40%;
    margin: 0px auto;
    background: #ffffff none repeat scroll 0% 0%;
    text-align: center;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    border-radius: 10px;
    animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.pop-up-window::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    top: -55px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    background-color: rgb(113, 195, 65);
    border-radius: 50%;
    animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}

.pop-up-window::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: -20px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    border-width: medium medium 4px 4px;
    border-style: none none solid solid;
    border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    transform: rotate(-45deg);
    transition: opacity 1s ease 0s;
    animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}

@keyframes pop-up-appear {
    0% {
        transform: translateY(-2000px);
    }

    30% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes pop-up-appear-before {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pop-up-appear-after {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pop-up-heading {
    font-size: 40px;
    margin-bottom: 20px;
}

.pop-up-text {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.wrapper .main .pop-up-button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(113, 195, 65);
    color: rgb(255, 255, 255);
    border: medium none;
    cursor: pointer;
    outline: medium none;
    display: block;
    width: 150px;
    text-align: center;
    margin: 0 auto;
}

.pop-up-button:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.wheel img {
    max-width: 100%;
}

@media all and (max-width: 520px) {
    .wheel {
        width: 225px !important;
    }

    .pop-up-window {
        top: 25%;
    }

    .cursor-text {
        line-height: 36px;
        font-size: 9px;
    }

    .close-popup {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("../svg/cross.svg")
            /*tpa=http://th8.theerofertil.com/landWheelFiles/cross.svg*/
        ;
        background-size: 100%;
        top: -40px;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;
        right: -10px;
        cursor: pointer;
    }
}

.super-rotation {
    -webkit-animation-name: super-rotation;
    animation-name: super-rotation;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}

@-webkit-keyframes super-rotation {
    70% {
        -webkit-transform: rotate(1883deg);
        transform: rotate(1883deg)
    }

    100% {
        -webkit-transform: rotate(1874deg);
        transform: rotate(1874deg)
    }
}

@keyframes super-rotation {
    70% {
        -webkit-transform: rotate(1883deg);
        transform: rotate(1883deg)
    }

    100% {
        -webkit-transform: rotate(1874deg);
        transform: rotate(1874deg)
    }

}