<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
  <meta charset="UTF-8">
  <title> Cha của Đức Phật đã giấu điều gì cả đời: cách làm giàu ở thế giới hiện đại </title>
  <link href="favicon.html" rel="shortcut icon">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <div class="top-line">
    <a href="#"><img alt="" src="img/burger.png"></a>
  </div>
  <header>
    <div class="wrapper">
      <div class="logo">
        <img alt="" src="img/logo.png">
        <span> KEBIJAKSANAAN BUDDHA UNTUK ZAMAN KITA </span>
        <a class="btn" href="#"> BERLANGGANAN </a>
      </div>
      <ul>
        <li><a href="#"> MAJALAH KITA </a></li>
        <li><a href="#"> AJARAN </a></li>
        <li><a href="#"> HIDUP </a></li>
        <li><a href="#"> BAGAIMANA CARA BERMEDITASI </a></li>
        <li><a href="#"> BERITA </a></li>
        <li><a href="#"> TENTANG KAMI </a></li>
      </ul>
    </div>
  </header>
  <div class="wrapper">
    <div class="main">
      <h1>
      Rahasia Terpendam Ayah Sang Buddha: Bagaimana Cara Menjadi Kaya Di Dunia Modern
    </h1>
      <div class="breadcrumbs">
        Penulis: <a href="#"> Berkan Suwardi </a> <span> | <script type="text/javascript">
                    dtime_nums(-6, true)
                    </script></span>
      </div>
      <ul class="social">
        <li><a href="#"><i class="icon-mail"></i></a></li>
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon-pinterest"></i></a></li>
        <li><a href="#"><i class="icon-reddit"></i></a></li>
      </ul>
      <h4>
      Semua orang bisa menjadi kaya dengan mudah dan cepat, jika mereka tahu apa saja yang harus dilakukan untuk
      mencapainya. Hari ini, Pak Daniel Sentosa, salah satu ilmuwan tim peneliti amulet Buddha, akan membagikan sebuah
      rahasia yang mampu meningkatkan kesejahteraan finansial kita semua.
    </h4>
      <img alt="" class="first-screen" src="img/cont11.jpg">
      <p>
        Nama saya Daniel Sentosa. Saya beragama buddha, dan saya telah menggeluti profesi ilmuwan, astrolog dan arkeolog sejak tahun 1993.
      </p>
      <p>
        Ada berbagai cara yang bisa dilakukan agar seseorang bisa menjadi kaya, salah satunya yaitu dengan cara menarik energi keberuntungan itu sendiri.
      </p>
      <p>
        Saya sendiri contohnya.
      </p>
      <p>
        Saya merasa sangat bahagia dan bersyukur dengan semua hal positif yang saya miliki saat ini. Saya menikah dengan wanita pujaan hati saya dan kami memiliki seorang putri, yang masih berkuliah di sebuah Universitas ternama dan bercita-cita ingin menjadi seorang ilmuwan, sama seperti saya.
      </p>
      <img alt="" class="lazy" data-original="img/cont2.jpg">
      <p>
        Saya bisa menjadi seperti sekarang ini, tentu saja bukan murni hanya karena faktor keberuntungan. Saya percaya pada hukum karma dan saya tahu kapan keberuntungan akan tersenyum kepada saya. Beruntung dalam hal cinta dan karier, terbebas dari masalah keuangan - Anda juga bisa mendapatkan semua ini tanpa ilmu pengetahuan khusus. Dan hari ini, saya akan membagikan rahasia saya kepada Anda semua!
      </p>
      <p>
        Jangan terlalu memperdulikan perkataan orang lain. Anda harus yakin Anda mampu mewujudkan semua yang Anda impikan dengan, pertama-tama, bertindak cepat dan mengambil peluang yang ada. Sebuah Amulet Buddha yang ditemukan oleh tim peneliti kami di pegunungan Tibet, akan membantu membuat hidup Anda menjadi jauh lebih baik.
      </p>
      <img alt="" class="lazy" data-original="img/cont3.jpg">
      <p>
        Dengan pesatnya perkembangan informasi saat ini, saya yakin Anda sudah pernah mendengar atau membaca tentang sejarah agama Buddha. Ayah Siddharta Gautama sang Buddha, yaitu Raja Suddhodana, adalah seseorang yang kaya raya. Hingga saat ini, kami juga masih terus mencari berbagai bukti material terkait dengan kehidupan sang Buddha dan keluarganya. Dengan bantuan kumpulan literatur para penganut agama Buddha, tim kami akhirnya berhasil menemukan salah satu peninggalan kerajaan Suddhodana, dan di sini lah kami menemukan Amulet Buddha tersebut. Sejumlah besar ilmuwan - arkeolog dan antropolog - meminta kami untuk mengumumkan penemuan tersebut, tapi perlu 7 tahun bagi tim kami untuk menelitinya dan kami masih belum bisa memberikan komentar apa pun pada saat itu.
      </p>
      <img alt="" class="lazy" data-original="img/cont4.jpg">
      <p>
        Hanya orang-orang Tibet kuno tertentu yang bisa menciptakan benda-benda dengan kekuatan magis seperti ini. 7 Hari setelah tim kami menemukan Amulet Buddha ini, kondisi finansial setiap anggota tim peneliti kami, mulai mengalami peningkatan yang cukup signifikan.
      </p>
      <img alt="" class="lazy" data-original="img/cont5.jpg">
      <p>
        3 Tahun yang lalu sebelum tim kami menemukan Amulet ini, bisa dibilang, hutang saya cukup banyak karena gaji saya sebagai seorang ilmuwan masih rendah - Rp 10.000.000,-. Seminggu setelah tim kami menemukan Amulet ini, saya mulai menyadari bahwa tidak ada lagi pengeluaran tak terduga. Sebulan kemudian, saya juga mendapat tawaran proyek baru dengan gaji 5 kali lipat lebih besar! Saya mungkin memang belum mampu untuk membeli semua kemewahan yang ada, tapi yang pasti, sekarang saya mampu membeli semua yang saya inginkan dan hidup saya menjadi jauh lebih nyaman secara keseluruhan.
      </p>
      <p>
        Berkat Amulet ini, sekarang saya merasa percaya diri dan tidak lagi mengkhawatirkan masa depan saya. Saya yakin saya tidak akan jatuh miskin - kondisi finansial saya semakin stabil dan memuaskan. Saya sendiri terkadang masih sulit percaya semua ini nyata. Intinya adalah bahwa perubahan hidup saya juga masih dalam proses: menjadi lebih baik dan jauh lebih baik lagi. Saya selalu membawa Amulet Uang ini ke mana pun saya pergi.
      </p>
      <img alt="" class="lazy" data-original="img/cont6.jpg">
      <p>
        Ada kekuatan besar yang terkunci dalam amulet ini. Proses pembuatannya tidak mudah, diperlukan waktu hingga 3 tahun untuk membuat ulang model amulet ini. <b> Amulet ini menarik energi positif, keberuntungan dan energi uang
      yang pada akhirnya akan menguntungkan pemiliknya. Efek amulet ini: </b>
      </p>
      <p>
        <b>
        - Anda akan mendapatkan penawaran kerja dengan gaji yang lebih tinggi; <br>
        - Semua orang yang berhutang akan melunasi hutang mereka pada Anda; <br>
        - Munculnya peluang karir yang lebih baik; <br>
        - Anda akan menjadi lebih beruntung dalam hal apa pun; <br>
        - Kehidupan cinta dan sosial yang lebih baik (mengenal orang-orang baru, ikatan keluarga menjadi lebih kuat).
      </b>
      </p>
      <img alt="" class="lazy" data-original="img/cont7.jpg">
      <h2>
      Apa itu Amulet Uang Ayah Sang Buddha?
    </h2>
      <p>
        Sangha - komunitas biksu - mampu menciptakan sebuah jimat atau amulet melalui ritual dan praktek mantra rahasia agama Buddha. Ritual-ritual tersebut dilakukan berdasarkan kekuatan doa dan persembahan kepada para dewa. Amulet mampu menarik keberuntungan, kekuatan dan energi positif yang tentunya akan berdampak sangat baik pada pemiliknya.
      </p>
      <img alt="" class="lazy" data-original="img/cont8.jpg">
      <p>
        Tim kami mencoba memesan amulet ini untuk menguji kekuatannya. Setelah menerima pesanan kami, kami pun pergi ke sebuah restoran untuk makan malam. Pelayan wanita restoran tersebut melayani kami dengan sangat baik. Setelah selesai, kami pun pergi dan meninggalkan sedikit tips dan amulet tersebut di meja kami.
      </p>
      <p>
        Setelah satu bulan berlalu, tim kami kembali ke restoran tersebut. Kami memesan beberapa menu makan malam yang cukup mewah, seafood dan semua yang berlapis keju. Tagihan makan malam kami cukup besar, tapi saat kami hendak membayar, pelayan wanita yang sama mendatangi kami dengan wajah ceria, dan mengatakan bahwa kami tidak perlu membayarnya». Tagihan makan malam kami hampir sekitar Rp 2.500.000,- saat itu dan kami memang sudah menduga, bahwa pelayan wanita tersebut akan melarang kami untuk membayar. Saat itulah kami menjadi semakin yakin bahwa uji coba amulet kami berhasil.
      </p>
      <p>
        Saat itu juga, saya langsung bertanya kepada pelayan wanita tersebut:
      </p>
      <p>
        <b> - Hai! Terima kasih banyak sebelumnya untuk makan malam gratis yang sangat lezat ini, tapi, mengapa Anda
        bermurah hati menggratiskan makan malam kami? Maaf, tapi nominal tagihan kami bisa dibilang cukup besar. Apa
        Anda habis menang lotre atau semacamnya? </b>
      </p>
      <p>
        <b> - Anggap saja semua ini sebagai bentuk rasa terima kasih saya atas amulet yang Anda berikan pada malam itu!
        Kira-kira sebulan yang lalu, Anda pernah datang ke sini bersama dengan tim Anda dan meninggalkan tips dan sebuah
        amulet di meja Anda. </b>
      </p>
      <p>
        <b> - Apa amuletnya benar-benar berfungsi? - tanya saya sembari tersenyum. </b>
      </p>
      <p>
        <b> - (Tertawa) Tentu saja. Satu bulan yang lalu, saya hanyalah seorang pelayan biasa, dengan gaji yang sangat
        minim. Saat melihat amulet ini, awalnya saya hanya berpikir, Anda mungkin sedang ingin berbuat baik saja dan
        karena amulet ini tampak cantik, akhirnya saya memakainya ke mana pun saya pergi. </b>
      </p>
      <p>
        <b> - Maaf jika saya agak sedikit lancang, tapi bisakah Anda menceritakan bagaimana amulet ini mengubah hidup
        Anda? Dulu Anda adalah seorang pelayan, dan sekarang? </b>
      </p>
      <p>
        <b> - Sejujurnya, semua yang saya alami dalam satu bulan ini, seperti sebuah keajaiban. Saya akhirnya bertemu
        dengan jodoh saya, dan dia berasal dari kalangan berada. </b>
      </p>
      <p>
        Kemudian wanita tersebut mulai menceritakan tentang bagaimana kekasihnya membeli restoran tempat dia bekerja, dan menjadikannya sebagai pemiliknya. Tidak hanya itu, sekarang dia juga telah memiliki rumah 3 lantai lengkap dengan kolam renang yang cukup besar, yang terletak di atas bukit.
      </p>
      <p>
        Wanita tersebut mulai merasa lebih beruntung di minggu pertama setelah memakai amulet ini. Perubahan pertama yang dia rasakan adalah, saat ada seorang pelanggan yang memberinya tips dengan nominal yang cukup besar. Merasa beruntung dan menjadi lebih percaya diri, akhirnya ia pun memberanikan diri untuk berkencan dengan salah satu pelanggan tetap di restoran tempatnya bekerja. Hanya dalam waktu satu minggu, mereka pun resmi menjadi sepasang kekasih.
      </p>
      <p>
        Tidak hanya itu, satu minggu kemudian, wanita tersebut diangkat menjadi manajer di restoran tempatnya bekerja. Berikut fotonya saat sedang bersama sang kekasih. Dia sendiri masih sulit percaya semua ini bukan mimpi.
      </p>
      <img alt="" class="lazy" data-original="img/cont9.jpg">
      <p>
        Jika saat ini, Anda merasa tidak bahagia karena merasa berkekurangan secara finansial, maka Anda wajib membeli Amulet Uang ini. Percayalah, Amulet Uang ini benar-benar akan mengubah hidup Anda dan membuat Anda menjadi lebih kaya.
      </p>
      <p>
        Saat ini, tim kami hanya menyediakan 300 Amulet Uang yang telah dimantrai langsung oleh para biksu. Siapa pun Anda, jika Anda membeli Amulet Uang ini, maka kekuatan para dewa akan membantu Anda dalam menjalani kehidupan. Prinsip dalam ajaran agama Buddha adalah agar kita selalu membantu setiap makhluk hidup yang menderita, dan inilah yang sedang kami lakukan. Kami ingin dan berusaha membantu agar kehidupan Anda menjadi lebih baik.
      </p>
      <p>
        Ada banyak penipu di luar sana yang telah menyalahgunakan informasi ini, dan membuat Amulet Uang yang palsu. Amulet Uang yang asli hanya bisa dipesan melalui situs resmi berikut.
      </p>
      <p>
        Semoga berhasil! Cobalah Amulet Uang ini dan bahagiakan orang-orang tersayang!
      </p>
      <div class="scroll"></div>
      <div class="spin-wrapper">
        <p>
          Perhatian!
        </p>
        <p>
          Saat ini kami menjual Amulet Uang dengan diskon hingga separuh harga. Untuk mengetahui berapa besar diskon Anda, silakan klik tombol PUTAR berikut ini. Semoga berhasil!
        </p>
        <div class="wheel-wrarpper">
          <div class="wheel">
            <img class="wheel-img" src="img/wheel.png">
            <div class="wheel-cursor spin_active"></div>
          </div>
        </div>
      </div>
      <div class="form_wrap" style="display: none;">
        <div class="form_title"> Pesan <span> <b>Money&nbsp;Amulet</b> </span> dengan diskon 50%.</div>
        <div class="timer">
          <div id="clock"><span>09</span> : <span>47</span></div>
        </div>
        <div class="form-inner">
          <div class="form_img-wrap">
            <img src="img/prod.png">
          </div>
          <div class="form_inp-wrap">
            <form action="{{ path('app.order.create', app.request.query.all) }}" class="main_form" id="order_form" method="POST" name="order">
              <input type="hidden" name="offerId" value="a334577c-0e24-4849-9a82-b0aaf6632377">
              <input type="hidden" name="country" value="ID">
              <input type="hidden" name="country_code" value="ID">
              <input type="hidden" name="ip_country" value="ID">
              <input type="hidden" name="clickid" value="{subid}">
              <input type='hidden' name='utm_content' value='' />
              <input type='hidden' name='utm_source' value='' />
              <input type='hidden' name='utm_campaign' value='' />
              <input type='hidden' name='utm_term' value='' />
              <input type="hidden" name="domain" value="index-2.html" />
              <input type='hidden' name='dir' value='id-amulet_ap-fb-33-p-'>
              <select class="inp" id="country_code_selector" name="country">
                <option value="ID" selected="selected"> Indonesia</option>
              </select>
              <input class="inp" name="name" placeholder="Nama" type="text" value="">
              <input class="inp only_number" name="phone" placeholder="Telepon" type="text" value="">
              <div class="old_price">
                <span> Harga lama: </span>
                <span> {{getSetting('preCost')}} Rp </span>
              </div>
              <div class="new_price">
                <span> Harga: </span>
                <span> {{getSetting('cost')}} Rp </span>
              </div>
              <button class="btn_sub js_submit button__text"> Pesan</button>
              <p style="color: #000000; font-size: 14px; text-align: center;">
                Untuk menghormati hari raya Ramadhan, disetiap pesanan Anda, Anda mendapatkan hadiah dari toko online.
              </p>
            </form>
            <div class="spin-result-wrapper">
              <div class="pop-up-window">
                <div class="close-popup"></div>
                <span class="pop-up-heading"> Selamat! </span>
                <p class="pop-up-text"> Anda mendapatkan diskon 50% untuk pembelian <b>Money&nbsp;Amulet</b>! </p><a class="pop-up-button" href="#"> Ok </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="btn" href="#"> PERGI KE SITUS WEB RESMI </a>
      <div class="comments">
        <div class="title">Komentar</div>
        <ul>
          <li>
            <img alt="" class="avatar lazy" data-original="img/comm1.jpg">
            <div class="comment__post">
              <div class="user_name">
                Alex - Jakarta <span>
<script type="text/javascript">
                                    dtime_nums(-6, true)
                                    </script>, 23:04
                                </span>
              </div>
              <div class="comment__text">
                Artikel yang sangat menarik. Jujur saja, saya baru tahu tentang ayah sang Buddha berkat artikel ini. Saya sudah coba pesan satu, semoga efeknya sebagus itu.
              </div>
            </div>
          </li>
          <li>
            <img alt="" class="avatar lazy" data-original="img/comm2.jpg">
            <div class="comment__post">
              <div class="user_name">
                Anita — Jogjakarta <span>
<script type="text/javascript">
                                    dtime_nums(-5, true)
                                    </script>, 7:18
                                </span>
              </div>
              <div class="comment__text">
                Halo semua, namaku Anita. Umurku 29 tahun. Aku sering ngerasa hidupku ini emang sial banget. Udah sekian kali aku terpikir buat bunuh diri. Artikel ini penyelamat hidup aku. Sejak ada amulet ini hari-hari aku emang jadi jauh lebih baik. Gaji aku naik, ada rencana nikah dalam waktu dekat juga, badan juga lebih sehat ga gampang sakit. Buruan deh coba, sebelum kehabisan. Ingat, mereka cuma punya 300 Amulet loh!
              </div>
            </div>
          </li>
          <li>
            <img alt="" class="avatar lazy" data-original="img/comm3.jpg">
            <div class="comment__post">
              <div class="user_name">
                Lina — Solo <span>
<script type="text/javascript">
                                    dtime_nums(-4, true)
                                    </script>, 13:41
                                </span>
              </div>
              <div class="comment__text">
                Boongan neh pastii!
              </div>
            </div>
          </li>
          <li>
            <img alt="" class="avatar lazy" data-original="img/comm4.jpg">
            <div class="comment__post">
              <div class="user_name">
                Gita — Surabaya <span>
<script type="text/javascript">
                                    dtime_nums(-4, true)
                                    </script>, 19:38
                                </span>
              </div>
              <div class="comment__text">
                Amulet ini beneran ampuh kok! Saya juga sudah pesan 1 buat anak saya (masih 15 tahun). Anak saya tuh karateka profesional dan kalo saya perhatikan, anak saya jadi sering menang sejak pake amulet ini. Masa iya cuma kebetulan kalo efeknya uda berulang kali gituh??!
              </div>
            </div>
          </li>
          <li>
            <img alt="" class="avatar lazy" data-original="img/comm5.jpg">
            <div class="comment__post">
              <div class="user_name">
                Jenny - Medan <span>
<script type="text/javascript">
                                    dtime_nums(-3, true)
                                    </script>, 11:24
                                </span>
              </div>
              <div class="comment__text">
                Dulu gue sering beli jimat kayak gini n semuanya palsu. Kcuali yg satu ini. Seriusan, TOP banget hasilnya! Gue sndiri awalnya ragu juga, tapi langsung hepi banget wktu sadar amulet ini ngefek banget. Inget yah, belinya di sini biar ga dapet barang palsu.
              </div>
            </div>
          </li>
          <li>
            <img alt="" class="avatar lazy" data-original="img/comm6.jpg">
            <div class="comment__post">
              <div class="user_name">
                Sasa - Bali <span>
<script type="text/javascript">
                                    dtime_nums(-3, true)
                                    </script>, 16:27
                                </span>
              </div>
              <div class="comment__text">
                Gue punya bisnis kan di Bali sini. Entah gimana awalnya, tapi akhirnya gue ada masalah ma orang. Mereka mo nipu gue gitu. Untung suami gue iseng ngebeliin gue amulet ini. Seminggu berikutnya, semua balik normal! Masi penasaran apa iya semua itu berkat jimat ini atau engga, tapi yang jelas ajaib banget emang!
              </div>
            </div>
          </li>
          <li>
            <img alt="" class="avatar lazy" data-original="img/comm7.jpg">
            <div class="comment__post">
              <div class="user_name">
                Lia - Semarang <span>
<script type="text/javascript">
                                    dtime_nums(-2, true)
                                    </script>, 14:58
                                </span>
              </div>
              <div class="comment__text">
                Udah pasti karena efek jimat ini kan!
              </div>
            </div>
          </li>
          <li>
            <img alt="" class="avatar lazy" data-original="img/comm8.gif">
            <div class="comment__post">
              <div class="user_name">
                Ricky - Jakarta <span>
<script type="text/javascript">
                                    dtime_nums(-2, true)
                                    </script>, 17:07
                                </span>
              </div>
              <div class="comment__text">
                Hmmm. Percaya ngga percaya, gue juga musti ngakuin, sejak pake amulet ini, banyak hal positif yang tiba2 trjadi dalem hidup gue.
              </div>
            </div>
          </li>
          <li>
            <img alt="" class="avatar lazy" data-original="img/comm9.jpg">
            <div class="comment__post">
              <div class="user_name">
                Hana - Solo <span>
<script type="text/javascript">
                                    dtime_nums(-2, true)
                                    </script>, 21:22
                                </span>
              </div>
              <div class="comment__text">
                Sejak nyimpen jimat ini, penghasilan saya sekarang per bulan kurang lebih sekitar 50 juta. Padahal 4 bulan lalu, saya masi kerja ikut orang, gaji juga standar. Sejak ada jimat ini, kondisi hidup saya kek berubah dengan sendirinya, lebih sukses!
              </div>
            </div>
          </li>
          <li>
            <img alt="" class="avatar lazy" data-original="img/comm10.jpg">
            <div class="comment__post">
              <div class="user_name">
                Tony - Bali <span>
<script type="text/javascript">
                                    dtime_nums(-1, true)
                                    </script>, 8:54
                                </span>
              </div>
              <div class="comment__text">
                Setuju! penghasilan saya juga naik berkali-kali lipat!
              </div>
            </div>
          </li>
          <li>
            <img alt="" class="avatar lazy" data-original="img/comm11.jpg">
            <div class="comment__post">
              <div class="user_name">
                Rangga - Bogor <span>
<script type="text/javascript">
                                    dtime_nums(-1, true)
                                    </script>, 17:12
                                </span>
              </div>
              <div class="comment__text">
                Saya mengundurkan diri dari kantor saya, dan hanya dalam 4 hari saya sudah punya pekerjaan baru yang lebih baik. Saya yakin semua ini berkat Amulet yang saya beli di situs ini!
              </div>
            </div>
          </li>
          <li>
            <img alt="" class="avatar lazy" data-original="img/comm12.jpg">
            <div class="comment__post">
              <div class="user_name">
                Devy - Malang <span>
<script type="text/javascript">
                                    dtime_nums(-1, true)
                                    </script>, 19:18
                                </span>
              </div>
              <div class="comment__text">
                Wahh komennya bnyk yg positif gini pasti bikin peminat amulet ini tmbah banyak ya! Untung saya uda pesen 2, buat saya sndiri n suami.
              </div>
            </div>
          </li>
          <li>
            <img alt="" class="avatar lazy" data-original="img/comm13.jpg">
            <div class="comment__post">
              <div class="user_name">
                Jessica - Surabaya <span>
<script type="text/javascript">
                                    dtime_nums(-1, true)
                                    </script>, 20:11
                                </span>
              </div>
              <div class="comment__text">
                Iya, klo mo beli wajib di sini! Tau sendiri kan di Indo banyak banget produk palsu!
              </div>
            </div>
          </li>
          <li>
            <img alt="" class="avatar lazy" data-original="img/comm14.jpg">
            <div class="comment__post">
              <div class="user_name">
                Firly - Tangerang <span>
<script type="text/javascript">
                                    dtime_nums(-1, true)
                                    </script>, 22:34
                                </span>
              </div>
              <div class="comment__text">
                Stujaa! Hari giniii...Apa siy barang yg ga ada versi KW nya??! Ingakkk, yang asli cuma dijual di situs ini!
              </div>
            </div>
          </li>
          <li>
            <div class="comment__post">
              <a class="btn" href="#"> PERGI KE SITUS WEB RESMI </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <aside>
      <div class="search">
        <input type="text" value="">
        <a href="#"><i class="icon-search-1"></i></a>
      </div>
      <div class="asideimg">
        <span class="text1"> BERLANGGANAN KEDAMAIAN PIKIRAN</span>
        <a class="text2" href="#">BERLANGGANAN</a>
        <img alt="" src="img/aside.jpg">
      </div>
    </aside>
  </div>
  <footer>
    <div class="wrapper">
      <ul>
        <li><a href="#"> KONTAK </a></li>
        <li><a href="#"> DONASI </a></li>
        <li><a href="#"> BERIKLAN </a></li>
        <li><a href="#"> LAYANAN PELANGGAN </a></li>
        <li><a href="#"> PRIVASI </a></li>
        <li><a href="#"> DIREKTORI PENGANUT BUDDHA </a></li>
      </ul>
      <ul class="social">
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon-instagram"></i></a></li>
        <li><a href="#"><i class="icon-youtube-play"></i></a></li>
      </ul>
    </div>
  </footer>
  <div class="order-count">
    <img alt="" src="img/prod.png">
    <div> TINGGAL <span class="order-number">7</span> AMULET TERSISA DARI 300</div>
  </div>
  <script src="js/spin.js"></script>
  <script type="text/javascript" src="js/9_12.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/lazyload.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <div class="ac_footer"><span>© 2020 Copyright. All rights reserved.</span>
    <br>
    <a href="privacy.html" target="_blank">Privacy policy</a>
  </div>

</body>

</html>
